*.s#*
*.b#*
*.l#*
*.lck
*.bak
*.kicad_pcb-bak
*.bck
*.fcstd1
*.FCStd1
nRF528??_MCU_Board/kicad/*.FCStd
nRF528??_MCU_Board/kicad/*.step
nRF528??_reference/kicad/*/*.FCStd
nRF528??_reference/kicad/*/*.step
